@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@using Microsoft.AspNetCore.Http.Extensions
@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions

@{
    var loginModel = new LoginModel();
    loginModel.RedirectUrl = "/";

    var isLoggedIn = Context.User?.Identity?.IsAuthenticated ?? false;
    var registerLink = $"/{Umbraco.CultureDictionary.Culture.Name}/{Umbraco.GetDictionaryValue("RegisterLink")}";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

@if (!isLoggedIn)
{
    <div class="login-form">
        @using (Html.BeginUmbracoForm<UmbLoginController>(
    "HandleLogin", new { RedirectUrl = loginModel.RedirectUrl }))
        {
            <h4>@Umbraco.GetDictionaryValue("LoginTitle")</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="@loginModel.Username" class="form-label">@Umbraco.GetDictionaryValue("Username")</label>
                <input asp-for="@loginModel.Username" class="form-control" />
                <span asp-validation-for="@loginModel.Username" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@loginModel.Password" class="form-label">@Umbraco.GetDictionaryValue("Password")</label>
                <input asp-for="@loginModel.Password" class="form-control" />
                <span asp-validation-for="@loginModel.Password" class="form-text text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input asp-for="@loginModel.RememberMe" class="form-check-input">
                <label asp-for="@loginModel.RememberMe" class="form-check-label">
                    @Umbraco.GetDictionaryValue("RememberMe")
                </label>
            </div>

            <button type="submit" class="btn btn-primary">@Umbraco.GetDictionaryValue("Login")</button>
            <a href="@registerLink" type="button" class="btn btn-secondary">@Umbraco.GetDictionaryValue("Register")</a>
        }

    </div>
}
else
{
    Context.Response.Redirect("/");
}